.blog-wrapper a {
    text-decoration: none;
    color: aliceblue;
}

.blog-wrapper a:hover{
    color: cyan;
}

.blog-wrapper h1 , h2, h3, h4, h5, h6 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-shadow: 5px 5px black;
    color: azure;
    font-weight: bold;
}

.blog-wrapper {
    font-family: 'Open Sans', sans-serif;
}

.blog-wrapper p,li {
    font-size: 1.1rem;
    text-shadow: 3px 3px black;
}