/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

 /* Make sure the body takes up the full viewport */
 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #03060bc3; /* Dark background for the night sky */
  overflow: hidden; /* Hide anything that overflows */
  position: relative;
}

/* Create a starry sky */
.star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
  animation: twinkle 1.5s infinite alternate;
}

/* Create random positions and sizes for stars */
.star:nth-child(odd) {
  animation-duration: 1.5s;
}

.star:nth-child(even) {
  animation-duration: 2s;
}

/* Animation for the twinkling effect */
@keyframes twinkle {
  0% {
      opacity: 0.3;
  }
  100% {
      opacity: 1;
  }
}

/* Create a few stars in random positions */
.star-field {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cover-container {
  max-width: 52rem;
}
/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.slash {
  color: antiquewhite;
}

.footer-container a {
  text-decoration: none;
  color: aliceblue;
}

.footer-container a:hover {
  text-decoration: none;
  color: cyan;
}